*{
    padding: 0;
    margin: 20;
    /* font-size: 0; */
}
.im1 {
    height: 200px;
    width: 200px;
    margin-right: 24px;
}
.im2 {
    height: 200px;
    width: 300px;

}
.di1 {
    height: 100px;
    width: 524px;
    margin-top: 36px;
    margin-bottom: 36px;
    border: 2px solid black;
}

.in1 {
    height: 20px;
    width: 386px;
    margin-right: 18px;
}

.bu1 {
    height: 20px;
    width: 120px;
}