*{
    margin: 0;padding: 0;
}
$color1: rgb(247, 240, 208);
$color2: #E49E9E;
$color3: #F7CDC0;

body{
    padding: 0;
    background-color: $color1;
    position: relative;
    font-family: sans-serif,monospace;

}
header{
    height: 120px;width: 100%;
    background-color: #f5deb2cc;

    position: fixed;
    z-index: 5;//最上層

    .box{
        width: 75px;height: 75px;
        background-color: $color2;
        //動畫
        transition: 300ms;
        //手指頭
        cursor: pointer;

        &:hover{        
            //比例縮放
            scale: 1.02;
            background-color: $color3;
        }
        //滑鼠點擊
        &:active{
            scale: 0.95;
            transition: 10ms;
        }
    }

    
    .menu{
        width: 35px;height: 5px;
        background-color: black;
        border-radius: 2px;
        //動畫
        transition: 300ms;
        //手指頭
        cursor: pointer;
        position: relative;
        &:hover{        
            //比例縮放
            scale: 1.05;
        }
        //滑鼠點擊
        &:active{
            scale: 0.95;
            transition: 10ms;
        }
        //偽元素
        &::before , &::after{
            content:"";
            width: inherit;height: inherit;
            background-color: inherit;
            border-radius: inherit;
            position: absolute;
        }
        &::before{
            top: -10px;
        }
        &::after{
            top: 10px;
        }
    }
}
.area0{
    width: 800px;height: 150px;
    margin: 0 auto;
}


.fake{
    width: 600px;height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.area1{
    width: 700px;height: 300px;
    margin: 20px    auto;
    display: flex;
    p{
        margin: 30px;
    }
    img{
        width: 400px;height: 300px;
        box-shadow: 0 3px 5px rgb(87, 87, 87);

    }
}
.area2{
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;   
    h1{
        text-align: center;
    }
    .OnSale{
        display: flex;
        justify-content: space-between;

        .box{
            width: 200px;height: 270px;
            background-size: cover;
            background-position: center;
            margin: 20px 0;
            position: relative;
            box-shadow: 0 3px 5px rgb(87, 87, 87);


            .sbox{
                width: 120px;height: 40px;
                background-color: $color2;
                position: absolute;
                bottom: 20px;
                left: 40px;
                //動畫
                transition: 300ms;
                //手指頭
                cursor: pointer;
                
                p{
                    color: white;
                    font-size: 20px;
                    padding: 8px;
                }
                &:hover{
                    background-color: $color3;
                    
                    //比例縮放
                    scale: 1.02;
                }
                //滑鼠點擊
                &:active{
                    scale: 0.95;
                    transition: 10ms;
                }
            }
        }
    }
}


.blackLine{
    width: 800px;height: 2px;
    background-color: black;
    margin: 0 auto  ;
}


.area3{
    width: 700px;
    margin: 30px auto;
    h1{
        text-align: center;
    }
    .News   {
        display: flex;
        justify-content: space-between;

        .box{
            width: 200px;height: 270px;
            margin: 20px 0;
            position: relative;
            // 陰影       X   Y   暈
            box-shadow: 0 3px 5px rgb(87, 87, 87);
            .ubox{
                width: 100%;height: 50%;
                background-size: contain;
            }
            .mbox{
                width: 100%;height: 50%;
                background-color: white;
                p{
                    padding: 10px 20px;
                    font-size: 15px;
                }

                .sbox{
                    width: 100px;height: 30px;
                    background-color: black;
                    position: absolute;
                    bottom: 15px;
                    left: 20px;
                    //動畫
                    transition: 300ms;
                    //手指頭
                    cursor: pointer;
                    p{
                        color: white;
                        font-size: 20px;
                        padding: 5px;
                    }
                    &:hover{
                        background-color: #6f6f6f;
                        
                        //比例縮放
                        scale: 1.02;
                    }
                    //滑鼠點擊
                    &:active{
                        scale: 0.95;
                        transition: 10ms;
                    }
                }
            }   
        }
    }
    .sbox{
        width: 120px;height: 40px;
        background-color: $color2;
        margin: 0 auto;
        //動畫
        transition: 300ms;
        //手指頭
        cursor: pointer;
        p{
            color: white;
            font-size: 20px;
            padding: 8px;
        }
        //滑鼠放上
        &:hover{
            background-color: #F7CDC0;
            
            //比例縮放
            scale: 1.02;
        }
        //滑鼠點擊
        &:active{
            scale: 0.95;
            transition: 10ms;
        } 
    }
}




.area4{
    width: 100%;height: 350px;
    margin: 50px auto;
    display: flex;
    position: relative;
    .box1{
        width: 50%;
        height: 350px;
        margin: auto 0;
        background-color: $color2;
        position: absolute;
        
    }
    .box2{
        width: 700px;
        margin: auto auto;
        
        z-index: 3;
        display: flex;
        justify-content: space-between;
        position: relative;
        .box3{
            width: 400px;height: 270px;
            background-size: cover;
            z-index: 4;
            box-shadow: 2px 2px 10px black;
        }
        .box4{
            width: 220px;height: 270px;
            background-color: $color3;
            margin-left: 50px;
            h1{
                font-size: 26px;
                text-align: center;
                padding:  20px;
            }
            p{
                font-size: 16px;
                padding: 0 25px;
                
            }
        }
        .box5{
            width: 50vw;
            height: 400px;
            background-color: $color2;
            position: absolute;
            right: 50%;
            top: -65px;
        
        }
    }
}





footer{
    height: 70px;
    background-color: $color2;
    p{
        padding: 25px 0;
        font-size: 15px;
    }
}

.but{
    border-radius: 5px;
    box-shadow: 0 3px 5px rgb(87, 87, 87);
}
