@tailwind base;
@tailwind components;
@tailwind utilities;
.all-area{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.area{
    width: 700px;
    margin: 40px auto;
    border: 2px solid green;
}
.color1 {
    background-color: rgb(94, 168, 211);
}
.color2 {
    background-color: rgb(28, 69, 93);
}
.color3 {
    background-color: rgb(187, 205, 214);
}
.color4 {
    background-color: rgb(224, 166, 166);
}
.color5 {
    background-color: rgb(255, 255, 255);
}